@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Oswald:wght@700&display=swap');

@viewport {
    width:device-width; 
    zoom: 1.0;
}


h1 {
    font-size: 8vw;
    font-weight: 100;
    margin: 0;
    color: hsl(0, 0%, 38%);
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h3 {
    font-size: 2.7vw;
    font-weight: 100;
    margin: 0;
    color: hsl(4, 0%, 0%);
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: hsl(4, 0%, 92%)
}

h2.error {
    color: red
}

.wrapper {
    text-align: center;
}

.button {
    font-size: 2vw;
    align-items: center;
    padding: 2vw;
    border: 2px solid #d90000;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #d90000;
}

.button:active {
    background-color: #800101
}